/*
////////////////////////////
////////CSS PAGE.///////////
////////////////////////////
*/

/* TOTAL PAGE */
*{
    /*margen*/
    margin: 0px;
    /*relleno*/
    padding: 0px;
}

/* THE BODY PART */
body{
    /*color de fondo*/
    background-color: #FAFAFA;
}

/* THE WRAPPER PART */
#wrapper{
    /*anchura*/
    width: 70%;
    /*altura*/
    height: 80%;
    /*desbordarse: oculto*/
    overflow: hidden; 
    /*margen*/
    margin: 50px auto;
    /*relleno*/
    padding: 10px;
}

    /* THE LEFT PART WRAPPER */
    .w-left{
        /*anchura*/
        width: 50%;
        /*flotante: izquierda*/
        float: left;
        /*alineación del texto: derecha*/
        text-align: right;
    }
    
    /* THE RIGHT PART WRAPPER */
    .w-right{
        /*anchura*/
        width: 50%;
        /*flotante: derecha*/
        float: right;
    }
    
        /* LOGO AND FORM */
        .main-content{
            /*anchura*/
            width: 250px;
            /*margen*/
            margin: 10px auto;
            /*color de fondo*/
            background-color: #fff;
            /*borde*/
            border: 1px solid #e6e6e6;
            /*relleno*/
            padding: 40px 50px;
        }
        
            /* LOGO */
            .header{
                /*borde*/
                border: 0px solid #000;
                /*margen inferior*/
                margin-bottom: 5px;
            }
            
                /* LOGO OF IMAGEN */
                .header img {
                    /*altura*/
                    height: 50px;
                    /*anchura*/
                    width: 175px;
                    /*margen automatico*/
                    margin: auto;
                    /*posición relativa*/
                    position: relative;
                    /*derecha*/
                    left: 40px;
                }
                
            /* INPUTS OF TEXT AND PASSWORD */
            .input{
                /*anchura*/
                width: 100%;
                /*margen inferior*/
                margin-bottom: 5px;
                /*relleno*/
                padding: 8px 12px;
                /*bordes*/
                border: 1px solid #dbdbdb;
                /*tamaño de la caja: cajaj con bordes*/
                box-sizing: border-box;
                /*tamaño de los bordes*/
                border-radius: 3px;
            }  
            
                /*TEXT*/
                .overlap-text{
                    /*posición: relativo*/
                    position: relative;
                }
                
                .overlap-text a{
                    /*posición: absoluto*/
                    position: absolute;
                    /*arriba*/
                    top: 8px;
                    /*derecha*/
                    right: 10px;
                    /*color*/
                    color: #003569;
                    /*tamaño de la letra*/
                    font-size: 14px;
                    /*decoración del texto*/
                    text-decoration: none;
                    /*tipo de letra*/
                    font-family: 'Segoe UI', monospace;
                    /*peso de letra*/
                    font-weight: 400;
                }
                
            /*BUTON*/
            .btn{
                /*anchura*/
                width: 100%;
                /*color de fondo*/
                background-color: #3897f0;
                /*bordes*/
                border: 1px solid #3897f0;
                /*relleno*/
                padding: 5px 12px;
                /*color*/
                color: #fff;
                /*peso de la letra*/
                font-weight: bold;
                /*cursor: puntero*/
                cursor: pointer;
                /*tamaño de los bordes*/
                border-radius: 3px;   
            }
            
            .btn:focus{
                background-color: #C4EOFB;
            }
        
        /* CHECK IN */
        .s-part{
            /*alinición de texto*/
            text-align: center;
            /*Tipo de letra*/
            font-family: 'Segoe UI', monospace;
            /*anchura de la letra*/
            font-weight: 400;
            /* color */
            color: #333;
        }
        
        .s-part a{
            /*decoración del texto*/
            text-decoration: none;
            /*efectos del raton*/
            cursor: pointer;
            /*color*/
            color: #3897f0;
            /*tipo de letra*/
            font-family: 'Segoe UI', monospace;
            /*anchura de la letra*/
            font-weight: 400;
        }
        
        



/* 
    Created on : 09-mar-2020, 10:40:28
    Author     : tarek
*/

